/* цвет основного текста color: #212121; */
/* вторичний цвет текста color: #757575; */
/* акцентный цвет color: #2196F3; */
/* основной цвет фона background: #FFFFFF; */

:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --accent-background-color: #2196f3;
  --active-btn-text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

/* секцыя хедер */

.logo-dark {
  color: #000000;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-dark:hover,
.logo-dark:focus {
  color: var(--accent-color);
}

/* секцыя навигацыи */

.site-nav .link {
  color: var(--main-color);
}

.site-nav .link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link {
  color: var(--secondary-color);
  text-decoration: none;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc (16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.address-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.address .link:hover,
.link:focus {
  color: var(--accent-color);
}

/*  Секцыя герой */

.hero {
  background-color: #c0c0c0;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--active-btn-text-color);
  background-color: #2196f3;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #0e87e7;
  color: var(--active-btn-text-color);
}

/* ---Наши особенности--- */

.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.specifics-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*  секция чем ми занимаемся */

.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/*  секция наша команда */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* секцыя работ */

.section-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
}

.section-btn:hover,
.section-btn:focus {
  background-color: var(--accent-background-color);
  color: var(--active-btn-text-color);
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.work-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* секцыя футер */

.logo-white {
  color: #ffffff;
}

.logo-white:hover,
.logo-white:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
}

.footer-link-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
